include header.pug


<div class="container">
    <div class="col-md-6 offset-md-3 mt-4">
        <div class="card">
            <div class="card-header" >
                <h4 class="text-center">Let's Chat</h4> 
                    <a href="/pages/user/users"> Exit Chat </a>
            </div>

            <div class="card-body"></div>
                p= result
                <form class="footer">
                    <div class="input-group">  
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-warning">
                        </div>
                    </div>
                        </form>
                            </div>
                                </div>   
                                    </div>
